@charset "UTF-8";
/* 共通 */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::before, ::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  background: transparent;
  color: inherit;
  vertical-align: middle;
  text-align: inherit;
  font: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

html {
  font-size: 100%;
  letter-spacing: .1em;
}

body {
  width: 100%;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  vertical-align: bottom;
}

ul {
  list-style: none;
}

.wrapper {
  width: 860px;
  margin: 0 auto 120px;
  min-height: 200px;
  text-align: center;
}

.heading3 {
  display: inline-block;
  font-size: 2.25rem;
  margin-bottom: 100px;
  position: relative;
}

.heading3::after {
  content: "";
  display: block;
  width: 100px;
  height: 3px;
  background-color: #333;
  position: absolute;
  bottom: -10px;
  left: calc( 50% - 50px);
}

/* ヘッダー */
.header .header-wrapper {
  /***** 真ん中のバーガー線 *****/
  /****** 上下のバーガー線 *****/
  /***** メニューオープン時 *****/
}

.header .header-wrapper .logo {
  text-align: left;
  padding-left: 50px;
  padding-top: 40px;
}

.header .header-wrapper .logo-img {
  width: 100px;
  height: auto;
}

.header .header-wrapper .btn {
  /* ボタンの配置位置  */
  position: fixed;
  top: 0;
  right: 0;
  /* ボタンの大きさ  */
  width: 100px;
  height: 100px;
  /* 最前面に */
  z-index: 10;
  background-color: #FF2A2A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-wrapper .btn-line {
  display: block;
  position: relative;
  /* バーガー線の位置基準として設定 */
  width: 50px;
  /* 線の長さと高さ */
  height: 2px;
  background-color: #fff;
  /* バーガー線の色 */
  -webkit-transition: .2s;
  transition: .2s;
}

.header .header-wrapper .btn-line::before,
.header .header-wrapper .btn-line::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  -webkit-transition: .5s;
  transition: .5s;
}

.header .header-wrapper .btn-line::before {
  /* 上の線の位置 */
  -webkit-transform: translateY(-14px);
          transform: translateY(-14px);
}

.header .header-wrapper .btn-line::after {
  /* 下の線の位置 */
  -webkit-transform: translateY(14px);
          transform: translateY(14px);
}

.header .header-wrapper .btn-line.open {
  background-color: transparent;
  /* 真ん中の線を透明に */
}

.header .header-wrapper .btn-line.open::before,
.header .header-wrapper .btn-line.open::after {
  content: "";
  -webkit-transition: .2s;
  transition: .2s;
}

.header .header-wrapper .btn-line.open::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  /* 上の線を傾ける */
}

.header .header-wrapper .btn-line.open::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  /* 下の線を傾ける */
}

.header .header-wrapper .menu {
  background: #FF2A2A;
  color: #fff;
  display: none;
  font-weight: 700;
  height: 100%;
  line-height: 1;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  z-index: 2;
}

.header .header-wrapper .menu a {
  color: #fff;
}

.header .header-wrapper .menu .menu-list {
  margin-bottom: 20px;
}

.header .header-wrapper .menu .menu-list:last-child {
  margin-bottom: 40px;
}

.header .header-wrapper .menu .entry {
  border: 1px solid #fff;
  display: inline-block;
  height: 46px;
  line-height: 46px;
  position: relative;
  width: 250px;
}

.header .header-wrapper .menu .entry::after {
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  content: "";
  height: 46px;
  width: 250px;
  position: absolute;
  bottom: -6px;
  right: -6px;
}

.header .header-wrapper .menu.open {
  display: block;
}

.main-visual {
  margin-bottom: 120px;
}

.main-visual .main-visual-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.main-visual .main-visual-wrapper .main-visual-copy {
  position: absolute;
  top: 50%;
  left: 135px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
}

.main-visual .main-visual-wrapper .main-visual-copy .copy {
  font-size: 2.875rem;
  font-weight: 700;
  line-height: 1.6;
  margin-bottom: 30px;
  text-shadow: 2px 4px 4px #fff;
}

.main-visual .main-visual-wrapper .main-visual-copy .entry-btn1 {
  background: #FF2A2A;
  border-bottom: 5px solid #7A051C;
  border-radius: 10px;
  color: #fff;
  display: inline-block;
  font-size: 1.5rem;
  padding: calc( 15rem / 16) calc( 135rem / 16);
  position: relative;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
}

.main-visual .main-visual-wrapper .main-visual-copy .entry-btn1:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  -webkit-transition: .5s all;
  transition: .5s all;
}

.main-visual .main-visual-wrapper .main-visual-copy .entry-btn1:active {
  margin-top: 4px;
  border-bottom: 1px solid #7A051C;
}

.main-visual .main-visual-wrapper .main-visual-copy .fa-position-right {
  position: absolute;
  top: calc(50% - .5em);
  right: calc( 30rem / 16);
}

.main-visual .main-visual-wrapper .main-visual-left {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 720px;
}

.main-visual .main-visual-wrapper .main-visual-right {
  max-height: 720px;
  max-width: 1037px;
  height: calc( 100vw * 720 / 1037);
  position: relative;
  width: 100vw;
}

.main-visual .main-visual-wrapper .main-visual-right::after {
  -webkit-box-shadow: inset 0 0 15px 15px #fff;
          box-shadow: inset 0 0 15px 15px #fff;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.main-visual .main-visual-wrapper .main-visual-right .main_img {
  max-height: 720px;
  max-width: 1037px;
  height: calc( 100vw * 720 / 1037);
  width: 100vw;
  opacity: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-animation: anime 18s 0s infinite;
  animation: anime 18s 0s infinite;
}

.main-visual .main-visual-wrapper .main-visual-right .main_img:nth-of-type(2) {
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
}

.main-visual .main-visual-wrapper .main-visual-right .main_img:nth-of-type(3) {
  -webkit-animation-delay: 12s;
  animation-delay: 12s;
}

@-webkit-keyframes anime {
  0% {
    opacity: 0;
  }
  16% {
    opacity: 1;
  }
  34% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes anime {
  0% {
    opacity: 0;
  }
  16% {
    opacity: 1;
  }
  34% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.reason {
  text-align: center;
  margin-bottom: 120px;
}

.reason .reason-list-wrapper {
  background: #FF2A2A;
  padding: 80px 0;
}

.reason .reason-list-wrapper .reason-list:nth-child(even) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.reason .reason-list-wrapper .reason-list .reason-desc-wrapper {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 70px 0;
  width: 700px;
}

.reason .reason-list-wrapper .reason-list .reason-desc-wrapper .icon-pc {
  height: 60px;
  width: 87px;
}

.reason .reason-list-wrapper .reason-list .reason-desc-wrapper .teacher-img {
  border-radius: 10px;
  height: 60px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 60px;
}

.reason .reason-list-wrapper .reason-list .reason-desc-wrapper .reason-desc {
  padding-left: 30px;
}

.reason .reason-list-wrapper .reason-list .reason-desc-wrapper .reason-desc .reason-heading {
  color: #FF2A2A;
  font-size: 1.75rem;
  text-align: left;
}

.reason .reason-list-wrapper .reason-list .reason-desc-wrapper .reason-desc .desc {
  font-size: 1.125rem;
  text-align: left;
}

.reason .reason-list-wrapper .reason-list:nth-child(odd) .reason-desc-wrapper {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.reason .reason-list-wrapper .reason-list:nth-child(even) .reason-desc-wrapper {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.reason .reason-list-wrapper .reason-list:not(:last-child) .reason-desc-wrapper {
  margin-bottom: 40px;
}

.voice .voice-list-wrapper {
  text-align: left;
}

.voice .voice-list-wrapper .voice-list .voice-desc-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.voice .voice-list-wrapper .voice-list .voice-desc-wrapper .voice-member-wrapper {
  text-align: center;
}

.voice .voice-list-wrapper .voice-list .voice-desc-wrapper .voice-member-wrapper .voice-member-img {
  border-radius: 50%;
  height: 120px;
  margin-bottom: 10px;
  width: 120px;
}

.voice .voice-list-wrapper .voice-list .voice-desc-wrapper .voice-member-wrapper .members-name {
  font-size: .75rem;
}

.voice .voice-list-wrapper .voice-list .voice-desc-wrapper .voice-member-wrapper .attribute {
  font-size: .875rem;
}

.voice .voice-list-wrapper .voice-list .voice-desc-wrapper .members-voice {
  background-color: #E9F1FB;
  border-radius: 15px;
  display: inline-block;
  margin: 0 15px 1.5em 15px;
  padding: 20px;
  position: relative;
  width: 60%;
}

.voice .voice-list-wrapper .voice-list:nth-child(odd) .voice-desc-wrapper {
  position: relative;
}

.voice .voice-list-wrapper .voice-list:nth-child(odd) .voice-desc-wrapper .members-voice::after {
  content: "";
  position: absolute;
  top: 70%;
  left: -30px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 15px solid #E9F1FB;
}

.voice .voice-list-wrapper .voice-list:nth-child(even) .voice-desc-wrapper {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  position: relative;
}

.voice .voice-list-wrapper .voice-list:nth-child(even) .voice-desc-wrapper .members-voice::after {
  content: "";
  position: absolute;
  top: 70%;
  left: 100%;
  margin-top: -15px;
  border: 15px solid transparent;
  border-left: 15px solid #E9F1FB;
}

.voice .voice-list-wrapper .voice-list:not(:last-child) {
  margin-bottom: 60px;
}

.about {
  background-image: url(../img/bg.gif);
  background-repeat: repeat;
  -webkit-animation: bgiLoop 10s linear infinite;
          animation: bgiLoop 10s linear infinite;
  padding: 60px 0;
}

@-webkit-keyframes bgiLoop {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -700px 700px;
  }
}

@keyframes bgiLoop {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -700px 700px;
  }
}

.about .wrapper .about-list-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about .wrapper .about-list-wrapper .about-list {
  background-color: #fff;
  border-radius: 20px;
  padding: 60px 66px;
  width: calc( 100% * 410 / 860);
}

.about .wrapper .about-list-wrapper .about-list:not(:last-child):not(:nth-last-child(2):nth-child(odd)) {
  margin-bottom: 32px;
}

.about .wrapper .about-list-wrapper .about-list .about-title {
  font-size: 1.75rem;
  padding-bottom: 15px;
}

.about .wrapper .about-list-wrapper .about-list .about-subtitle {
  font-size: 1.125rem;
  padding-bottom: 30px;
}

.about .wrapper .about-list-wrapper .about-list .about-desc {
  text-align: left;
}

@media screen and (max-width: 900px) {
  .wrapper {
    width: calc( 100% - 32px);
    margin: 0 auto;
  }
  .heading3 {
    font-size: 1.75rem;
    margin-bottom: 60px;
  }
  .heading3::after {
    width: 80px;
    left: calc( 50% - 40px);
  }
  .header .header-wrapper .logo {
    padding-left: 25px;
    padding-top: 25px;
    margin-bottom: 28.7px;
  }
  .header .header-wrapper .btn {
    height: 75px;
    width: 75px;
  }
  .header .header-wrapper .btn-line {
    width: 35px;
  }
  .header .header-wrapper .btn-line::before {
    -webkit-transform: translateY(-11px);
            transform: translateY(-11px);
  }
  .header .header-wrapper .btn-line::after {
    -webkit-transform: translateY(11px);
            transform: translateY(11px);
  }
  .main-visual {
    margin-bottom: 85px;
  }
  .main-visual .main-visual-wrapper {
    display: block;
    position: static;
  }
  .main-visual .main-visual-wrapper .main-visual-left {
    display: none;
  }
  .main-visual .main-visual-wrapper .main-visual-right {
    min-height: 300px;
  }
  .main-visual .main-visual-wrapper .main-visual-right .main_img {
    min-height: 300px;
  }
  .main-visual .main-visual-wrapper .main-visual-copy {
    margin: 0 auto;
    position: static;
    text-align: center;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    width: calc( 100% - 32px);
  }
  .main-visual .main-visual-wrapper .main-visual-copy .copy {
    font-size: 1.75rem;
    line-height: calc( 47 / 28);
    margin-bottom: 4px;
    margin: -8px auto 0;
    text-align: left;
    width: 343px;
  }
  .main-visual .main-visual-wrapper .main-visual-copy .entry-btn1 {
    font-size: 1.5rem;
    padding: 8px 67px;
  }
  .reason .reason-list-wrapper {
    padding: 40px 0;
  }
  .reason .reason-list-wrapper .reason-list .reason-desc-wrapper {
    padding: 1em;
    width: calc( 100vw - 16px);
  }
  .reason .reason-list-wrapper .reason-list .reason-desc-wrapper .reason-desc .reason-heading {
    font-size: 1.5rem;
  }
  .voice .voice-list-wrapper .voice-list:nth-child(odd) .voice-desc-wrapper, .voice .voice-list-wrapper .voice-list:nth-child(even) .voice-desc-wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .voice .voice-list-wrapper .voice-list:nth-child(odd) .voice-desc-wrapper .members-voice, .voice .voice-list-wrapper .voice-list:nth-child(even) .voice-desc-wrapper .members-voice {
    position: relative;
    width: 100%;
  }
  .voice .voice-list-wrapper .voice-list:nth-child(odd) .voice-desc-wrapper .members-voice::after, .voice .voice-list-wrapper .voice-list:nth-child(even) .voice-desc-wrapper .members-voice::after {
    content: "";
    position: absolute;
    top: calc( 100% + 15px);
    left: 50%;
    margin-left: -15px;
    margin-bottom: 15px;
    border: 15px solid transparent;
    border-top: 15px solid #E9F1FB;
  }
  .voice .voice-list-wrapper .voice-list:not(:last-child) {
    margin-bottom: 40px;
  }
  .about .wrapper .about-list-wrapper {
    display: block;
    width: 100%;
  }
  .about .wrapper .about-list-wrapper .about-list {
    width: 100%;
    padding: 30px 32px;
  }
  .about .wrapper .about-list-wrapper .about-list:nth-last-child(2) {
    margin-bottom: 32px;
  }
}

/* 作業用CSS */
/* .first-view { display: none; } */
/* header { display: none; } */
/* footer { display: none; }  */
/*# sourceMappingURL=style.css.map */